@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/* Templating */
*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --main-color: #11266D;
    --secondary-color: #3FC57F;
    --black: #111111;
    --white: #FFFFFF;
    --disable: #B8B8B8;
    --danger: #FF2E2E;
    --purple: #8687B1;
}

*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 0.8rem;
    font-weight: 400;
}
a {
    display: block;
    color: var(--black);
}

a:hover {
    text-decoration: none;
}

.cont {
    margin-right: 150px;
    margin-left: 150px;
}

.main-btn {
    display: block;
    padding: 0.8rem 1.6rem;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 6px;
    color: var(--white);
}

.logo i {
    padding: 20px 0 20px 0;
    font-size: 25px;
    color: var(--main-color);
    display: none;
}

/* End of Templating */

/* Header*/
header {
    padding-top: 40px;
}

/* Nav */
header nav {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
}

header nav .logo {
    -webkit-box-flex: 75%;
    -moz-box-flex: 75%;
    -webkit-flex: 75%;
    -ms-flex: 75%;
    flex: 75%;
}

header nav .nav-comp {
    display: flex;
    justify-content: flex-end;
    -webkit-box-flex: 25%;
    -moz-box-flex: 25%;
    -webkit-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
}

header nav .nav-comp button {
    background-color: var(--main-color);
}

header nav .nav-comp i {
    color: var(--main-color);
    padding: 15px;
}

header nav .nav-comp input {
    background: none;
    outline: none;
    border: none;
    color: var(--main-color);
    padding-right: 1rem;
    width: 150px;
}

header nav .nav-comp span {
    display: flex;
    flex-direction: row;
}

header nav .nav-comp input::placeholder {
    color: var(--main-color);
}

/* End of Nav */
/* End of Header */

/* Content */
.content .navigasi {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    width: 162px;
    justify-content: space-between;
    margin: 100px auto;
}

.content .navigasi .disable {
    color: var(--disable);
}

.content .product .big-picture img {
    width: 80%;
    height: 80%;
}

.content .product .small-picture img {
    width: 30%;
    height: 30%;
}

.content .product .small-picture {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.content .detail-product h2 {
    color: var(--main-color);
}

.content .detail-product h3 {
    color: var(--danger);
    padding: 15px 0 40px 0;
}

.content .detail-product .inputan {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
}

.content .detail-product .inputan .choice {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
}

.content .detail-product .inputan .choice input {
    width: 55px;
    padding: 5px;
    border: 1px solid var(--purple);
    border-radius: 3px;
}

.content .detail-product .inputan .choice select {
    width: 68px;
    border: 1px solid var(--purple);
    border-radius: 3px;
    margin: 0 20px;
}

.content .detail-product .inputan .add-cart button {
    background-color: var(--main-color);
}

.content .detail-product p {
    line-height: 200%;
    margin-top: 40px;
}

.content .related-product h2 {
    padding: 86px 0 50px 0;
}

.owl-theme .owl-nav [class*=owl-] {
    color: var(--white);
    font-size: 1.5rem;
    margin-top: 20px;
    border: none;
    outline: none;
    padding: 10px;
    background: var(--main-color);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: var(--secondary-color);
}

/* End of Content */
/* Footer */

footer {
    background-color: var(--main-color);
    padding-top: 80px;
    margin-top: 120px;
}

footer h4,
footer p {
    color: var(--white);
}

footer h4 {
    text-transform: uppercase;
}

footer p {
    margin-top: 25px;
}

footer .information * {
    padding-left: 10px;
}

footer .information h4 {
    padding-left: 30px;
}

footer .information ul {
    list-style-type: none;
}

footer .subcription .input-subcription {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .subcription .input-subcription input {
    padding: 15px 20px 15px 15px;
    width: 267px;
    margin-right: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #979DB1;
}

footer .subcription .input-subcription input::placeholder {
    color: #979DB1;
}

footer .social {
    margin-top: 35px;
}

footer .social img:nth-child(2) {
    margin: 0 35px;
}

footer .pattern-foot img {
    display: block;
    width: 100%;
}

footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
}

footer .copyright small {
    color: var(--white);
    text-align: center;
    margin: 0 auto;
}

/* End Of Footer */
/* Responsive */
@media only screen and (max-width: 1024px) {
    .cont {
        margin-left: 75px;
        margin-right: 75px;
    }

}

@media only screen and (max-width: 991px) {

    footer h4 {
        margin-top: 40px;
    }

    footer .information * {
        padding-left: unset;
    }

    footer .information h4 {
        padding-left: unset;
    }

    .content .detail-product h2 {
        margin-top: 30px;
    }

    .content .product .big-picture {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: center;
    }
    .content .product .small-picture {
        margin: 20px auto 0 auto;
    }
}

@media only screen and (max-width:768px) {
    .cont {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width:587px) {
    .logo i {
        display: block;
    }

    header nav {
        align-items: flex-start;
        flex-direction: column;
    }

    header nav .logo {
        width: 100%;
    }

    header nav .logo i {
        float: right;
        display: block;
    }

    #togling {
        display: none;
    }

    header nav .nav-comp {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        -webkit-box-flex: 100%;
        -moz-box-flex: 100%;
        -webkit-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
    }

    header nav .nav-comp span {
        display: flex;
        flex-direction: row;
        padding: 30px 0;
    }

}

@media only screen and (max-width:425px) {

    *,
    body {
        font-size: 16px;
    }

    .cont {
        margin-left: 30px;
        margin-right: 30px;
    }

    header nav {
        align-items: flex-start;
        flex-direction: column;
    }

    header nav .logo {
        width: 100%;
    }

    header nav .logo i {
        float: right;
        display: block;
    }

    header nav .nav-comp span {
        display: flex;
        flex-direction: row;
        padding: 30px 0;
    }

    footer .social {
        margin-bottom: 30px;
    }

    footer .subcription .input-subcription {
        flex-direction: column;
        align-items: flex-start;
    }

    footer .subcription .input-subcription button {
        margin-top: 15px;
    }
}

@media only screen and (max-width:375px) {

    *,
    body {
        font-size: 14px;
    }
}

@media only screen and (max-width:320px) {

    *,
    body {
        font-size: 12px;
    }

    .cont {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width:240px) {
    .cont {
        margin-left: 15px;
        margin-right: 15px;
    }

    .logo i {
        font-size: 20px;
    }

    footer .subcription .input-subcription input {
        width: 200px;
    }

    footer .social img {
        width: 25px;
        height: 25px;
    }

    footer .social img:nth-child(2) {
        margin: 0 20px;
    }
}