@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/* Templating */
*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --main-color: #11266D;
    --secondary-color: #3FC57F;
    --black: #111111;
    --white: #FFFFFF;
}

*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

a {
    display: block;
    color: var(--black);
}

a:hover {
    text-decoration: none;
}

.cont {
    margin-right: 150px;
    margin-left: 150px;
}

.main-btn {
    display: block;
    padding: 0.8rem 1.6rem;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 6px;
    color: var(--white);
}

.logo i {
    padding: 20px 0 20px 0;
    font-size: 25px;
    color: white;
    display: none;
}

/* End of Templating */

/* Header*/
header {
    padding-top: 40px;
    background-color: var(--main-color);
}

/* Nav */
header nav {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
}

header nav .logo {
    -webkit-box-flex: 75%;
    -moz-box-flex: 75%;
    -webkit-flex: 75%;
    -ms-flex: 75%;
    flex: 75%;
}

header nav .nav-comp {
    display: flex;
    justify-content: flex-end;
    -webkit-box-flex: 25%;
    -moz-box-flex: 25%;
    -webkit-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
}

header nav .nav-comp i {
    color: var(--white);
    padding: 15px;
}

header nav .nav-comp input {
    background: none;
    outline: none;
    border: none;
    color: var(--white);
    padding-right: 1rem;
    width: 150px;
}

header nav .nav-comp span {
    display: flex;
    flex-direction: row;
}

header nav .nav-comp input::placeholder {
    color: var(--white);
}

/* End of Nav */
header .title {
    padding: 100px 0 40px 0;
}

header .title h1,
header .title h3 {
    color: var(--white);
}

header .title h3 {
    margin-top: 45px;
}

header .pattern-head img {
    position: relative;
    top: 2px;
    width: 100%;
}

/* End of Header */

/* Content */
.content h2 {
    padding: 32px 0 75px 0;
}

.content .categories a {
    font-size: 1.3rem;
    padding: 25px 0;
}

.content .categories img {
    width: 90%;
}

/* Category 1 */
.content .categories .category_1 div:nth-child(2) img {
    margin-top: 151px;
}

/* End Category 1 */

/* Category 2 */
.content .categories .category_2 {
    margin-top: 33px;
}

.content .categories .category_2 * {
    margin-left: 20px;
}

.content .categories .category_2 div:nth-child(2) img {
    margin-top: 230px;
}

/* End Category 2 */

/* Category 3 */
.content .categories .category_3 {
    position: relative;
    bottom: 100px;
}

/* End Category 3 */

/* End of Content */

/* Footer */

footer {
    background-color: var(--main-color);
    padding-top: 80px;
    margin-top: 120px;
}

footer h4,
footer p {
    color: var(--white);
}

footer h4 {
    text-transform: uppercase;
}

footer p {
    margin-top: 25px;
}

footer .information * {
    padding-left: 10px;
}

footer .information h4 {
    padding-left: 30px;
}

footer .information ul {
    list-style-type: none;
}

footer .subcription .input-subcription {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer .subcription .input-subcription input {
    padding: 15px 20px 15px 15px;
    width: 267px;
    margin-right: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #979DB1;
}

footer .subcription .input-subcription input::placeholder {
    color: #979DB1;
}

footer .social {
    margin-top: 35px;
}

footer .social img:nth-child(2) {
    margin: 0 35px;
}

footer .pattern-foot img {
    display: block;
    width: 100%;
}

footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
}

footer .copyright small {
    color: var(--white);
    text-align: center;
    margin: 0 auto;
}

/* End Of Footer */
/* Responsive */
@media only screen and (max-width: 1024px) {
    .cont {
        margin-left: 75px;
        margin-right: 75px;
    }

}

@media only screen and (max-width: 991px) {

    /* Category 1 */
    .content .categories .category_1 div:nth-child(2) img {
        margin-top: 33px;
    }

    /* End Category 1 */

    /* Category 2 */
    .content .categories .category_2 {
        margin-top: 33px;
    }

    .content .categories .category_2 * {
        margin-left: -7.5px;
    }

    .content .categories .category_2 div:nth-child(2) img {
        margin-top: 33px;
    }

    /* End Category 2 */

    /* Category 3 */
    .content .categories .category_3 {
        position: unset;
        margin-top: 33px;
        margin-left: -7.5px;
    }

    footer h4 {
        margin-top: 40px;
    }

    footer .information * {
        padding-left: unset;
    }

    footer .information h4 {
        padding-left: unset;
    }

}

@media only screen and (max-width:768px) {
    .cont {
        margin-left: 50px;
        margin-right: 50px;
    }

    header .title h3 {
        margin: 45px auto 0 auto;
        width: 80%;
    }

}

@media only screen and (max-width:587px) {
    header .title h3 {
        width: 90%;
    }

    .logo i {
        display: block;
    }

    header nav {
        align-items: flex-start;
        flex-direction: column;
    }

    header nav .logo {
        width: 100%;
    }

    header nav .logo i {
        float: right;
        display: block;
    }

    #togling {
        display: none;
    }

    header nav .nav-comp {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        -webkit-box-flex: 100%;
        -moz-box-flex: 100%;
        -webkit-flex: 100%;
        -ms-flex: 100%;
        flex: 100%;
    }

    header nav .nav-comp span {
        display: flex;
        flex-direction: row;
        padding: 30px 0;
    }

}

@media only screen and (max-width:425px) {

    *,
    body {
        font-size: 16px;
    }

    .cont {
        margin-left: 30px;
        margin-right: 30px;
    }

    header .title {
        padding: 60px 0 40px 0;
    }

    header .title h3 {
        margin: 45px auto 0 auto;
        width: 100%;
    }

    header nav {
        align-items: flex-start;
        flex-direction: column;
    }

    header nav .logo {
        width: 100%;
    }

    header nav .logo i {
        float: right;
        display: block;
    }

    header nav .nav-comp span {
        display: flex;
        flex-direction: row;
        padding: 30px 0;
    }

    .content .categories .category_2 * {
        margin-left: -3.25px;
    }

    .content .categories .category_3 {
        margin-left: 7.5px;
    }

    footer .social {
        margin-bottom: 30px;
    }

    footer .subcription .input-subcription {
        flex-direction: column;
        align-items: flex-start;
    }

    footer .subcription .input-subcription button {
        margin-top: 15px;
    }
}

@media only screen and (max-width:375px) {

    *,
    body {
        font-size: 14px;
    }
}

@media only screen and (max-width:320px) {

    *,
    body {
        font-size: 12px;
    }

    .cont {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width:240px) {
    .cont {
        margin-left: 15px;
        margin-right: 15px;
    }

    .logo i {
        font-size: 20px;
    }

    footer .subcription .input-subcription input {
        width: 200px;
    }

    footer .social img {
        width: 25px;
        height: 25px;
    }

    footer .social img:nth-child(2) {
        margin: 0 20px;
    }
}